.calculator {
    padding-top: 10px;
    height: 520px;
    width: 400px;
    margin: 50px auto;
    border-radius: 15px;
    background-color: rgb(239, 238, 238);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.containerInput {
    border-radius: 15px;
    width: 380px;
    margin: 10px auto;
    box-shadow: 0px 0px 5px 0px rgba(34, 60, 80, 0.2);

}

.containerInput input {
    width: 370px;
    outline: none;
    border: none;
    padding: 10px 5px;
    font-size: 3rem;
    text-align: end;
    border-radius: 15px;
}

.bottons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 15px;
    padding: 10px;
}

.bottons button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 2px 4px 4px 0px rgba(34, 60, 80, 0.2);
}

.bottons button:active {
    transform: scale(0.98);

}

.buttonGray {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonWhite {
    background-color: white;
}

.buttonOrange {
    background-color: rgb(245, 118, 27);
    color: white;
}